DISCORD_TOKEN=
GUILD_ID=
ADMIN_ROLE_NAMES=Admin,Moderator,DM,Loot Manager

DWARFY_SELL_CHANNEL_ID=
DWARFY_SHOP_CHANNEL_ID=
SESSION_LOOT_CHANNEL_ID=

GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_FILE=service-account.json
BOT_ITEMS_TAB=Bot Items
MONSTER_COMPONENTS_TAB=Monster Components

DATABASE_PATH=data/dwarfy.sqlite
